.App{
display: flex;
justify-content: center;
align-items: center;
background-image: linear-gradient(to left,#ed8e8e,rgb(156, 156, 246));
height: 715px;
}

.App-div{
  color: brown;
  font-size: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}